certifi==2018.4.16
chardet==3.0.4
colorama==0.3.9
cx-Oracle==6.3.1
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.13
django-bootstrap3==10.0.1
django-filter==1.1.0
django-guardian-on-wheels==1.4.5.dev0
djangorestframework==3.8.2
gunicorn==19.8.1
httpie==0.9.9
idna==2.6
Markdown==2.6.11
Pygments==2.2.0
pytz==2018.4
requests==2.18.4
six==1.11.0
static3==0.7.0
urllib3==1.22
